.board {
    padding: 20px;
    height: 100px;
    cursor: pointer;
}

.board-title {
    margin-top: auto;
    margin-bottom: auto;
}

.board-icon {
    position: absolute;
    bottom: 10px;
    right: 30px;
}
