<!-- <div>

</div> -->
<div class="container-fluid bg-cover" style="background-image: url('../../../assets/images/bg-2.jpg');">

  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="#">Conneckt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <i class="fas fa-th fa-lg"></i> </a>
        </li>
        <li class="nav-item active">
          &nbsp; &nbsp;
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-light">Add to team</button>
        </li>
        <li class="nav-item active">
          &nbsp; &nbsp;
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-light">Private</button>
        </li>
        <li class="nav-item active">
          &nbsp; &nbsp;
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-light">Invite</button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="mt-2 ">

    <span class="listss-container" *ngFor="let list of [1,2,3,4,5]">
      <app-list class="lists-container"></app-list>
    </span>


  </div>
</div>
